.experiencias {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 12rem;
    gap: 7rem;
}

.experiencias h2 {
    font-size: 3rem;
    font-weight: 700;
    /* margin-left: 4.8rem; */
}

.experiencias div {
    display: flex;
    flex-direction: row;
}

.experiencias div div {
    display: flex;
    flex-direction: column;
}

.container-botao {
    background-color: #1E1D1D;
    padding: 1.2rem;
    place-items: center;
    transition: background-color 0.4s ease-out;
}

.container-botao:hover {
    background-color: rgb(167, 165, 165);
    cursor: pointer;
}

.container-botao p {
    font-size: 1.7rem;
    align-items: center;
}