.experiencias {
    display: flex;
    flex-direction: column;
    height: 35vh;
    padding: 12rem;
    gap: 7rem;
}

.experiencias h2 {
    font-size: 3rem;
    font-weight: 700;
    /* margin-left: 4.8rem; */
}

.experiencias-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
}

.experiencias-botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-botao {
    background-color: #1E1D1D;
    padding: 1.6rem;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.4s ease-out;
    border: 0;
    transition: all 250ms;
}

.container-botao:hover {
    background-color: rgb(167, 165, 165);
    cursor: pointer;
    transform: scale(1.1);
}

.container-botao p {
    font-size: 2rem;
}

.container-textos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.5rem;
    width: 80%;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textos-paragrafo {
    font-size: 2rem;
    text-align: justify;
}

.container-textos img {
    width: 17rem;
    transition: all 250ms;
}

.container-textos img:hover {
    transform: scale(1.1);
}