@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 0.4px solid white;
    background-color: black;
    overflow: hidden;
}

.texto-logo {
    font-size: 3rem;
    transition: all 250ms;
    cursor: pointer;
    font-weight: 700;
}

.texto-logo:hover {
    transform: scale(1.1);
}

.items {
    display: flex;
    gap: 3.2rem;
}

.texto-items {
    font-size: 2rem;
    transition: color 0.4s ease-out;
    transition: all 250ms;
    cursor: pointer;
}

.texto-items:hover {
    color: rgb(167, 165, 165);
    transform: scale(1.1);
}

@media (max-width: 650px) {
    .items {
        gap: 1.5rem;
    }
}

@media (max-width: 400px) {
    .items {
        gap: 1rem;
    }
    .texto-items {
        font-size: 1.8rem;
    }
    .texto-logo {
        font-size: 2.5rem;
    }
}