.container-wrap {
    background-color: rgba(48, 46, 46, 1);
    border-left: 0.4px solid white;
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 45vh;
    transition: color 0.4s ease-out;
    transition: all 250ms;
}

.container-wrap:hover {
    background-color: rgb(59, 58, 58);
    transform: scale(1.1);
}

/* .container-wrap img {
    width: 400px;
    height: 131px;
} */

.textos-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 20vh;
    padding: 3rem;
    justify-content: space-evenly;
}

.titulo-projeto {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}

.paragrafo-wrap {
    font-size: 2rem;
    text-align: justify;
}

@media (max-width: 550px) {
    .container-wrap {
        width: 30vh;
        height: 40vh;
    }
}